@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700;800&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    background-image: url("assets/img/bg.jpg");
    position: relative;
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top:0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height:62px;
}

nav img{
    color: rgb(229, 9, 20);
    width: 150px;
    position: relative;
    z-index: 10;
    padding-top: 10px;
}

nav button{
    position: relative;
    z-index: 10;
}
nav select{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height:calc(100% - 62px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding:0 30px;
}

.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    background-color: rgb(55, 53, 53);
    height: 7px;
}


.btn{
    padding: 9px 27px;
    font-weight: bold;
    background-color: rgba(23,23,23,0.7);
    color:white;
    border: 0.2px solid rgba(246, 238, 238, 0.7);
}
.main input{
    background-color:rgba(23,23,23,0.7);
    color: white;
    padding: 16px 100px 12px 9px;
    font-size: 17px;
    border-radius: 7px;

    border: 0.2px solid rgba(246, 238, 238, 0.7);
}
/* .hero-buttons{
    display: flex;
    justify-content: center;
    gap: 17px;
} */

.red-btn-sm{
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 7px;
    margin-left: 10px;
    padding: 9px 27px;

}

.red-btn{
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px 24px;
    font-size: 24px;
    border-radius: 7px;
    border: none;
    font-weight:bold;
}
.first{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    padding: 40px 0 40px 0;
}
.second{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    padding: 40px 0 40px 0;
}
.third{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    padding: 40px 0 40px 0;
}

section img{
    width: 40vw;
    position: relative;
    /* overflow: hidden; */
    z-index: 10;
}

.sec_img{
    position: relative;
    padding-bottom: 50px;
    /* overflow: hidden; */
}

.sec_img2 img{
    position: relative;
}
.sec_img video{
    position: absolute;
    top: 97px;
    width: 30vw;
    right: 0;
    left: 84px;
}

 .sec_img  .video1{
    position: absolute;
    top: 36px;
    width: 25vw;
    right: 0;
    left: 110px;
}
.first > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first > div :nth-child(1){
    font-size: 50px;
    font-weight: bolder;
    
}
.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
    padding-right: 11px;
    font-family: ui-monospace;

}



.sec_img .box2{
    width: 20vw;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    gap: 22px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    top: -170px;
    z-index: 10;
    left: 140px;
    background-color: black;
    border: 2px solid rgba(128,128,128,0.7);

}
.box2 .strange :nth-child(1){
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

.box2 .strange :nth-child(2){
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
    color: #0071eb;
}

.box2 img{
    width: 60px;
    height: 70px;
    padding: 10px 0 3px 10px;
    

}
.box2 .gif{
    
}

.faq{
   padding: 40px;
}
.faq > :nth-child(1){
    color: white;
    font-size: 46px;
    text-align: center;
    padding-bottom: 20px;
}
.faq .faq-box{
    background-color:rgb(45,45,45);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin:10px auto;
}

.faq-box span{
    color: white;
    font-size: 25px;
}

.faq-box:hover{
    background-color:#454545;
    transition: 1s all ease-in-out;
}
.faq .hero{
    padding: 30px;
}
.faq .hero>:nth-child(1){
        font-weight: 400;
        font-size: 20px;
        text-align: center;
}

.faq input{
        background-color:rgba(23,23,23,0.7);
        color: white;
        padding: 16px 100px 12px 9px;
        font-size: 17px;
        border-radius: 7px;
    
        border: 0.2px solid rgba(246, 238, 238, 0.7);
    
}
footer{
    color:rgba(255,255,255,0.7) ;
    max-width: 80vw;
    margin: auto;
    padding: 50px 0 50px 80px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-item a{
    color: rgba(255,255,255,0.7);
}

footer .question{
    padding:20px 0;
}
